<?xml version="1.0"?>
<robot name="ur5e" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- robot name parameter -->
    <xacro:arg name="name" default="ur5e"/>


     <!-- import main macro dell'UR (richiede pacchetto scaricato Universal Robots -> ur_description) -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>


    <!-- ROBOT XACRO PARAMETERS-->
    <xacro:arg name="ur_type" default="ur5e"/>
    

    <!-- LETTURA PARAMETRI DELL'UR5e DA CONFIG FILES -->

    <!-- da ur_description, pacchetto ROS (generici UR5e)-->
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

    <!-- da calibrazione su nostro braccio -->
    <xacro:arg name="kinematics_params" default="$(find arm_description)/config/uclv_right_ur5e_kinematics.yaml"/>

    <!-- safety parameters (ininfluenti in visualizzazione)-->
    <xacro:arg name="safety_limits" default="true"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>


    <!-- DESCRIZIONE STRUTTURALE-->

    <!-- table as base for the UR5e robot -->
    <link name="world">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/vention/visual/myvention_visual.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Blue">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/vention/collision/myvention_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>  
    </link>

        
    <!-- muro dietro la scrivania -->
    <link name="wall_link">
        <visual>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
            <material name="LightGrey">
                <color rgba="0.8 0.8 0.8 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
        </collision>
    </link>

    <joint name="world_wall_joint" type="fixed">
        <parent link="world" />
        <child link="wall_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>



    <!-- arm -->
    <xacro:ur_robot
        name="ur5e"
        tf_prefix=""
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.188189 0.13575 0.556631" rpy="${3*pi/4} 0 ${-pi/2}" />
    </xacro:ur_robot>


    <!-- 1. LINK: HOLDER (CAD) -->
    <link name="holder_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa dell'Holder in metri -->
            <origin xyz="-0.000020 -0.000000 0.034870" rpy="0 0 0" />
            <mass value="0.190087" />
            <inertia ixx="0.0002082050" ixy="-0.0000000001" ixz="0.0000002035"
                     iyy="0.0002077921" iyz="-0.0000000002"
                     izz="0.0000715583" />
        </inertial>
    </link>

    <!-- FIXED JOINT: FLANGIA (tool0) -> HOLDER -->
    <joint name="tool0_holder_joint" type="fixed">
        <parent link="tool0" />
        <child link="holder_link" />

        <!-- vecchio cad -->
        <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->

        <!-- nuovo cad -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    <!-- 2. LINK: CUT ROD -->
    <link name="cut_rod_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                
                <mesh filename="package://arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa della Cut Rod in metri -->
            
          <origin xyz="-0.029300 0.000000 0.080990" rpy="0 0 0" />
          <mass value="0.012517" />
          <inertia ixx="0.0000002222" ixy="0.0000000000" ixz="0.0000000000"
                   iyy="0.0000262241" iyz="0.0000000000"
                   izz="0.0000262242" />
        </inertial>
    </link>

    <!-- FIXED JOINT: HOLDER -> CUT ROD -->
    <joint name="holder_cut_rod_joint" type="fixed">
        <parent link="holder_link" />
        <child link="cut_rod_link" />
        <!-- Se le mesh condividono lo stesso sistema di riferimento zero del CAD, l'origine è 0 0 0 -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    
    <!-- ========================================== -->
    <!-- 3. LINK VIRTUALE: ROD TIP (TCP Punta Asta) -->
    <!-- ========================================== -->
    <link name="rod_tip_virtual_link" />

    <!-- FIXED JOINT DIRETTO: FLANGIA (tool0) -> ROD TIP VIRTUAL -->
    <joint name="tool0_rod_tip_joint" type="fixed">
        <!-- posizione del TCP rispetto a tool0 -->
        <parent link="tool0" />
        <child link="rod_tip_virtual_link" />

        <!-- vecchio cad -->
        <!-- <origin xyz="-0.118 0 0.081" rpy="0 ${-pi/2} 0" /> -->

        <!-- nuovo cad -->
        <origin xyz="0.115204 0.108042 0.0825857" rpy="${radians(43.5 + 180)} ${-pi/2} 0" />
        <!-- angolo di 43.5° trovato con tuning a mano, per allineare terna TCP con asta (che è curvata) -->
    </joint>
   

    <!-- ====================================================== -->
    <!-- Terna della Telecamera (Parametri Estrinseci) -->
    <!-- ====================================================== -->

    <link name="camera_color_optical_frame" />

    <joint name="base_to_camera_joint" type="fixed">
        <!-- Parent link imposto sulla terna REALE del controller UR -->
        <parent link="base" />

        <child link="camera_color_optical_frame" />

        <!-- Parametri estrinseci della telecamera RGB (dalla calibrazione)-->
        <origin xyz="-0.288986 -0.473449 0.048187" rpy="0.020224 -0.791766 -1.588972" />
    </joint>




</robot>
