<?xml version="1.0"?>
<robot name="ur5e" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ========================================== -->
    <!-- 1. PARAMETRI DI INPUT (Fisica e Hardware)  -->
    <!-- ========================================== -->
    <xacro:arg name="name" default="ur5e"/>
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix" default=""/>

    <!-- Parametri UR -->
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    
    <!-- Da calibrazione su nostro braccio -->
    <xacro:arg name="kinematics_params" default="$(find arm_description)/config/uclv_right_ur5e_kinematics.yaml"/>

    <!-- Parametri Sicurezza -->
    <xacro:arg name="safety_limits" default="true"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <!-- Parametri Hardware Control (Aggiunti per il driver reale) -->
    <xacro:arg name="robot_ip" default="0.0.0.0" />
    <xacro:arg name="headless_mode" default="false" />
    <xacro:arg name="script_filename" default=""/>
    <xacro:arg name="output_recipe_filename" default=""/>
    <xacro:arg name="input_recipe_filename" default=""/>
    <xacro:arg name="reverse_ip" default="0.0.0.0"/>
    <xacro:arg name="script_command_port" default="50004"/>
    <xacro:arg name="reverse_port" default="50001"/>
    <xacro:arg name="script_sender_port" default="50002"/>
    <xacro:arg name="trajectory_port" default="50003"/>
    <xacro:arg name="use_tool_communication" default="false" />
    <xacro:arg name="tool_voltage" default="0" />
    <xacro:arg name="tool_parity" default="0" />
    <xacro:arg name="tool_baud_rate" default="115200" />
    <xacro:arg name="tool_stop_bits" default="1" />
    <xacro:arg name="tool_rx_idle_chars" default="1.5" />
    <xacro:arg name="tool_tx_idle_chars" default="3.5" />
    <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
    <xacro:arg name="tool_tcp_port" default="54321" />
    <xacro:arg name="use_mock_hardware" default="false" />
    <xacro:arg name="mock_sensor_commands" default="false" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="sim_ignition" default="false" />
    <xacro:arg name="simulation_controllers" default="" />
    <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>


    <!-- ========================================== -->
    <!-- 2. IMPORT DELLE MACRO UNIVERSAL ROBOTS     -->
    <!-- ========================================== -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>


    <!-- ========================================== -->
    <!-- 3. DESCRIZIONE STRUTTURALE AMBIENTE        -->
    <!-- ========================================== -->

    <!-- table as base for the UR5e robot -->
    <link name="world">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/vention/visual/myvention_visual.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Blue">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/vention/collision/myvention_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>  
    </link>

    <!-- muro dietro la scrivania -->
    <link name="wall_link">
        <visual>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
            <material name="LightGrey">
                <color rgba="0.8 0.8 0.8 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
        </collision>
    </link>

    <joint name="world_wall_joint" type="fixed">
        <parent link="world" />
        <child link="wall_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    <!-- ========================================== -->
    <!-- 4. ISTANZIAZIONE ROBOT E HARDWARE INTERFACE-->
    <!-- ========================================== -->

    <!-- arm -->
    <xacro:ur_robot
        name="ur5e"
        tf_prefix=""
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.188189 0.13575 0.556631" rpy="${3*pi/4} 0 ${-pi/2}" />
    </xacro:ur_robot>

    <!-- hardware interface per connettersi a URSim o robot reale -->
    <xacro:ur_ros2_control
        name="$(arg name)"
        tf_prefix="$(arg tf_prefix)"
        kinematics_parameters_file="$(arg kinematics_params)"
        robot_ip="$(arg robot_ip)"
        script_filename="$(arg script_filename)"
        output_recipe_filename="$(arg output_recipe_filename)"
        input_recipe_filename="$(arg input_recipe_filename)"
        reverse_ip="$(arg reverse_ip)"
        script_command_port="$(arg script_command_port)"
        reverse_port="$(arg reverse_port)"
        script_sender_port="$(arg script_sender_port)"
        trajectory_port="$(arg trajectory_port)"
        use_tool_communication="$(arg use_tool_communication)"
        tool_voltage="$(arg tool_voltage)"
        tool_parity="$(arg tool_parity)"
        tool_baud_rate="$(arg tool_baud_rate)"
        tool_stop_bits="$(arg tool_stop_bits)"
        tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
        tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
        tool_device_name="$(arg tool_device_name)"
        tool_tcp_port="$(arg tool_tcp_port)"
        use_mock_hardware="$(arg use_mock_hardware)"
        mock_sensor_commands="$(arg mock_sensor_commands)"
        headless_mode="$(arg headless_mode)"/>


    <!-- ========================================== -->
    <!-- 5. END EFFECTOR E STRUMENTI               -->
    <!-- ========================================== -->

    <!-- 1. LINK: HOLDER (CAD) -->
    <link name="holder_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa dell'Holder in metri -->
            <origin xyz="-0.000020 -0.000000 0.034870" rpy="0 0 0" />
            <mass value="0.190087" />
            <inertia ixx="0.0002082050" ixy="-0.0000000001" ixz="0.0000002035"
                     iyy="0.0002077921" iyz="-0.0000000002"
                     izz="0.0000715583" />
        </inertial>
    </link>

    <!-- FIXED JOINT: FLANGIA (tool0) -> HOLDER -->
    <joint name="tool0_holder_joint" type="fixed">
        <parent link="tool0" />
        <child link="holder_link" />

        <!-- vecchio cad -->
        <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->

        <!-- nuovo cad -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    <!-- 2. LINK: CUT ROD -->
    <link name="cut_rod_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                
                <mesh filename="package://arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa della Cut Rod in metri -->
            
          <origin xyz="-0.029300 0.000000 0.080990" rpy="0 0 0" />
          <mass value="0.012517" />
          <inertia ixx="0.0000002222" ixy="0.0000000000" ixz="0.0000000000"
                   iyy="0.0000262241" iyz="0.0000000000"
                   izz="0.0000262242" />
        </inertial>
    </link>

    <!-- FIXED JOINT: HOLDER -> CUT ROD -->
    <joint name="holder_cut_rod_joint" type="fixed">
        <parent link="holder_link" />
        <child link="cut_rod_link" />
        <!-- Se le mesh condividono lo stesso sistema di riferimento zero del CAD, l'origine è 0 0 0 -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    
    <!-- ========================================== -->
    <!-- 3. LINK VIRTUALE: ROD TIP (TCP Punta Asta) -->
    <!-- ========================================== -->
    <link name="rod_tip_virtual_link" />

    <!-- FIXED JOINT DIRETTO: FLANGIA (tool0) -> ROD TIP VIRTUAL -->
    <joint name="tool0_rod_tip_joint" type="fixed">
        <!-- posizione del TCP rispetto a tool0 -->
        <parent link="tool0" />
        <child link="rod_tip_virtual_link" />

        <!-- vecchio cad -->
        <!-- <origin xyz="-0.118 0 0.081" rpy="0 ${-pi/2} 0" /> -->

        <!-- nuovo cad -->
        <!-- nuovo cad -->
        <origin xyz="0.115204 0.108042 0.0825857" rpy="${radians(43.5 + 180)} ${-pi/2} 0" />
        <!-- angolo di 43.5° trovato con tuning a mano, per allineare terna TCP con asta (che è curvata) -->
   </joint>


    <!-- ========================================== -->
    <!-- Terna della Telecamera -->
    <!-- ========================================== -->



    <!-- Posizione della lente RGB rispetto alla base ricavata dalla calibrazione -->
    <link name="camera_rgb_calibrated" />

    <joint name="base_to_rgb_joint" type="fixed">
        <parent link="base" />
        <child link="camera_rgb_calibrated" />
        <origin xyz="-0.28898614560797165 -0.4734488805016898 0.04818685648725712" rpy="0.02022358 -0.79176606 -1.58897229" />
    </joint>

    

    <!-- Posizione della telecamera (per definizione nel sensore di Depth) rispetto alla lente RGB -->


    <!-- La lente di depth è traslata di 1.48 cm lungo x rispetto all'RGB -->
    <!-- riferimenti: https://github.com/realsenseai/realsense-ros/tree/ros2-master -->
    <!-- Tuttavia, sono inseriti qui anche rotazioni e traslazioni di una calibrazione a mano, per correggere l'allineamento -->

    <link name="camera_link" />

    <joint name="rgb_to_camera_link_joint" type="fixed">
        <parent link="camera_rgb_calibrated" />
        <child link="camera_link" />
        
        <!-- SENZA CALIBRAZIONE (solo traslazione lungo x per depth da costruzione del sensore) -->
        <!-- <origin xyz="0.0148 0.0 0.00" rpy="0 -1.5708 1.5708" /> -->

        <!-- TENTATIVI DI CALIBRAZIONE A MANO -->
        <!-- <origin xyz="0.0178 -0.0088 0.0286" rpy="0 -1.5708 1.5708" /> -->
        <!-- <origin xyz="0.0130 -0.0080 0.0287" rpy="0 -1.5708 1.5708" /> -->
        <!-- <origin xyz="0.0133 -0.0080 0.0287" rpy="0 -1.5708 1.6232" /> -->
        <origin xyz="0.0130 -0.0120 0.0287" rpy="0 -1.5708 1.5883" /> 
    </joint>


</robot>