<?xml version="1.0"?>
<robot name="left_arm_ur5e" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- robot name parameter -->
    <xacro:arg name="name" default="ur5e"/>


     <!-- import main macro dell'UR (richiede pacchetto scaricato Universal Robots -> ur_description) -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>


    <!-- ROBOT XACRO PARAMETERS-->
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix_left" default="left_" />
    

    <!-- LETTURA PARAMETRI DELL'UR5e DA CONFIG FILES -->

    <!-- da ur_description, pacchetto ROS (generici UR5e)-->
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

    <!-- da calibrazione su nostro braccio -->
    <xacro:arg name="kinematics_params" default="$(find left_arm_description)/config/uclv_left_ur5e_kinematics.yaml"/>

    <!-- safety parameters (ininfluenti in visualizzazione)-->
    <xacro:arg name="safety_limits" default="true"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>


    <!-- DESCRIZIONE STRUTTURALE-->

    <!-- table as base for the UR5e robot -->
    <link name="world">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://left_arm_description/meshes/vention/visual/myvention_visual.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Blue">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://left_arm_description/meshes/vention/collision/myvention_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>  
    </link>

        
    <!-- muro dietro la scrivania -->
    <link name="wall_link">
        <visual>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
            <material name="LightGrey">
                <color rgba="0.8 0.8 0.8 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0.3" rpy="0 0 0" />
            <geometry>
                <box size="3 0.1 2"/>
            </geometry>
        </collision>
    </link>

    <joint name="world_wall_joint" type="fixed">
        <parent link="world" />
        <child link="wall_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>



    <!-- left arm -->
    <xacro:ur_robot
        name="ur5e"
        tf_prefix="$(arg tf_prefix_left)"
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.188189 0.13575 0.556631" rpy="${3*pi/4} 0 ${-pi/2}" />
    </xacro:ur_robot>


    <!-- 1. LINK: HOLDER (CAD) -->
    <link name="$(arg tf_prefix_left)holder_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://left_arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://left_arm_description/meshes/holder/holder.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa dell'Holder in metri -->
            <origin xyz="-0.000020 -0.000000 0.034870" rpy="0 0 0" />
            <mass value="0.190087" />
            <inertia ixx="0.0002082050" ixy="-0.0000000001" ixz="0.0000002035"
                     iyy="0.0002077921" iyz="-0.0000000002"
                     izz="0.0000715583" />
        </inertial>
    </link>

    <!-- FIXED JOINT: FLANGIA (tool0) -> HOLDER -->
    <joint name="$(arg tf_prefix_left)tool0_holder_joint" type="fixed">
        <parent link="$(arg tf_prefix_left)tool0" />
        <child link="$(arg tf_prefix_left)holder_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    <!-- 2. LINK: CUT ROD -->
    <link name="$(arg tf_prefix_left)cut_rod_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                
                <mesh filename="package://left_arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://left_arm_description/meshes/holder/cut_rod.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <!-- Centro di massa della Cut Rod in metri -->
            
          <origin xyz="-0.029300 0.000000 0.080990" rpy="0 0 0" />
          <mass value="0.012517" />
          <inertia ixx="0.0000002222" ixy="0.0000000000" ixz="0.0000000000"
                   iyy="0.0000262241" iyz="0.0000000000"
                   izz="0.0000262242" />
        </inertial>
    </link>

    <!-- FIXED JOINT: HOLDER -> CUT ROD -->
    <joint name="$(arg tf_prefix_left)holder_cut_rod_joint" type="fixed">
        <parent link="$(arg tf_prefix_left)holder_link" />
        <child link="$(arg tf_prefix_left)cut_rod_link" />
        <!-- Se le mesh condividono lo stesso sistema di riferimento zero del CAD, l'origine è 0 0 0 -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    
    <!-- ========================================== -->
    <!-- 3. LINK VIRTUALE: ROD TIP (TCP Punta Asta) -->
    <!-- ========================================== -->
    <link name="$(arg tf_prefix_left)rod_tip_virtual_link" />

    <!-- FIXED JOINT: CUT ROD -> ROD TIP VIRTUAL -->
    <joint name="$(arg tf_prefix_left)cut_rod_tip_joint" type="fixed">
        <parent link="$(arg tf_prefix_left)cut_rod_link" />
        <child link="$(arg tf_prefix_left)rod_tip_virtual_link" />
        <!-- Traslazione in metri: x = -120mm, z = 81mm -->
        <!-- Rotazione: pitch di -90 gradi (-pi/2) per allineare asse Z su asse -X -->
        <origin xyz="-0.118 0 0.081" rpy="0 ${-pi/2} 0" />
    </joint>

    <!-- NOTA: ANDRÀ TARATO REALISTIACAMENTE CON IL METODO DEL PIVOT!! -->

</robot>
